.ff-merri {
    font-family: 'Merriweather';
}
.ff-inter {
    font-family: 'Inter', sans-serif;
}
.hero{
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.594), rgba(255, 255, 255, 0)),
    url("../resources/banner-img.png");
    border-radius: 16px;
}
.banner{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}
.pt-177{
    padding-top: 177px;

}
.pb-177{
    padding-bottom: 177px;
}
.fs-72{
    font-size: 72px;
    font-weight: 900px;
    line-height: 95px;
}
.white{
    color: white;
}
.tx-center{
    text-align: center;
}
.w-632{
    width: 100%;
    max-width: 620px;
}
.m-0{
    margin: 0 auto;
}
.OFF{
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    color: #F00;
}
.Our{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.ALL{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.Hny-img{
    max-width: 802.9px;
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}
.vector-img{
    max-width: 1320px;
    width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
.container{
    background-image: url('../resources/Vectorrr.png');
    border-radius: 16px;
}
.heros{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}